*{
    margin: 5px;
    padding:5px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

 }
 :root {
    --bg-color: #001347;
    --second-bg-color: #050049;
    --text-color: #fff;
    --main-color: #0ef;
}

/*html{
    font-size: 85%;
    overflow-x: hidden;
}
    */
body{
    background:var(--bg-color);
    color: var(--text-color);
}
button{
    border-radius: 10px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    align-content: center;
}

